# ===== Core =====
numpy>=1.26
pandas>=2.2
networkx>=3.1
matplotlib>=3.8

# ===== Optimization =====
ortools>=9.8

# ===== ML =====
torch==2.3.0
torchvision
torchaudio
torchdata==0.7.1
stable-baselines3>=2.3.0

# ===== Graph =====
dgl==2.1.0

# ===== Utils =====
tqdm>=4.65
pyyaml>=6.0
tensorboard>=2.16

# ===== Performance =====
numba>=0.59

# ===== Plotting =====
seaborn>=0.13
plotly>=5.20

emoji